@(name: String, cssVersion: Long)

@views.html.layout(s"Hello $name", cssVersion) {
    <h1>Hello, @name!</h1>
    <p>Welcome to our awesome site powered by Scala & Twirl 🚀</p>

    <button hx-get="/ping" hx-target="#pong-container" hx-swap="beforeend">
        Ping the server!
    </button>

    <div id="pong-container" class="pong-container">
            <!-- New Pongs will be added here -->
    </div>

    <script>
            document.body.addEventListener('htmx:afterSwap', function (evt) {
                const pongContainer = document.getElementById('pong-container');

                if (evt.target === pongContainer) {
                    const maxItems = 6;
                    if (pongContainer.children.length > maxItems) {
                        pongContainer.removeChild(pongContainer.firstElementChild);
                    }
                }
            });
    </script>
}